# Ignore dependencies and build outputs
node_modules
.next
.turbo
dist

# Local env files
.env
.env.local
.env.development
.env.test
.env.production

# Misc
.DS_Store
npm-debug.log
yarn-error.log
pnpm-lock.yaml
coverage
/.vscode
.idea
.git
Dockerfile
docker-compose.yml
