[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlx-lm = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pydantic-settings = "*"
dependency-injector = "*"
openai = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
python-dotenv = "*"
mlx-vlm = "*"

[dev-packages]

[requires]
python_version = "3.13"
